div > a {
  color: #333;
  display: inline-block;
  position: relative;
}
  
div > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
  color: #333;
  text-decoration: none;
  
}

div > a:hover::after, div > a.active-nav::after {
  width: 100%;
  background: #FFD68F;
} */

.menu-text {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin-bottom: 0em;
  margin-left: 100px;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px
}

.center-footer {
  padding-left: 50px;
  margin-top: 100px;
  text-align: center;
}

.center-contacts {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
} */

.mr-8 {
  margin-right: 8px;
}

.m-50 {
  margin: 50px;
}

.ml-50 {
  margin-left: 50px
}

.mr-18 {
  margin-right: 18px;
}

.mr-20 {
  margin-right: 50px;
}

.mr-40 {
  margin-right: 29px;
}

.ml-18 {
  margin-left: 124px;
} */

.container{
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.send-button {
  background-color: #FFD68F;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  color: black;
  font-weight: bold;
} */

.mt-50 {
  margin-top: 50px
}

.mt-600 {
  margin-top: 600px
}

.mt-125 {
  margin-top: 125px;
}

.p-0 {
  padding: 0px;
}