.mt-50 {
    margin-top: 50px
}

.mt-600 {
    margin-top: 600px
}

.mt-125 {
    margin-top: 125px;
}

.p-0 {
    padding: 0px;
}

.mr-8 {
    margin-right: 8px;
}

.m-50 {
    margin: 50px;
}

.ml-50 {
    margin-left: 50px
}

.mr-18 {
    margin-right: 18px;
}

.mr-20 {
    margin-right: 50px;
}

.mr-40 {
    margin-right: 29px;
}

.ml-18 {
    margin-left: 124px;
}

.mr-8 {
    margin-right: 8px;
}

.m-50 {
    margin: 50px;
}

.ml-50 {
    margin-left: 50px
}